{% extends 'base.html' %}

{% block content %}
    <br/>
    <h2>Sign in</h2>
    <body  class="text-center">
    {%  if form.errors %}
        <p>There is an error with something you entered</p>
    {% endif %}

    {% if next %}
        <p> Hey, you can't access that page</p>
    {% endif %}
    <br/>
    <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
        <p>Username: {{ form.username }}</p>
        <p>Password: {{ form.password }}</p>
        <p><input class="btn btn-primary" type="submit" value="Sign In"></p>
{#        next is whatever url they are trying to access#}
        <input type="hidden" name="next" value="{{ next }}">
        <br/>
        <p>Don't have an account yet?</p>
        <a class="btn btn-secondary btn-sm" href="{% url 'register' %}" role="button">Click here to register</a>
        <p></p>
        <br/>
        <br/>
    </form>
{#    </body>#}
{#    <body class="text-center">#}
{#    <form class="form-signin" method="post" action="{% url 'login' %}">#}
{#        {% csrf_token %}#}
{#        <img class="mb-4" src="../../assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">#}
{#        <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>#}
{#        {{ form.username }}#}
{#        <label for="inputEmail" class="sr-only">Email address</label>#}
{#        <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>#}
{#        <label for="inputPassword" class="sr-only">Password</label>#}
{#        <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>#}
{#        <div class="checkbox mb-3">#}
{#            <label>#}
{#                <input type="checkbox" value="remember-me"> Remember me#}
{#            </label>#}
{#        </div>#}
{#        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>#}
{#        <p class="mt-5 mb-3 text-muted">&copy; 2017-2018</p>#}
{#    </form>#}
{#    </body>#}
{% endblock %}