{% extends 'base.html' %}

{% block content %}


<div class="vcentercontainer">
    <div class="container">
    {% if next %}
        <p> Hey, you can't access that page</p>
    {% endif %}
    <h2>Registration Page</h2>
    <body>
    <form method="post" action="{% url 'register' %}">
        {% csrf_token %}
        {% if form.errors %}
            <p>There is an error with something you entered</p>
        {% endif %}
        {{ form }}
        <input type="submit" value="register">
    </form>
    </body>
    </div>
</div>
{% endblock %}