<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="form-group">
    <form action="/jobscanner/table" method="post">
        {% csrf_token %}
        <textarea name="urltext"></textarea>
        <input type="submit">
    </form>
    {#    <a href="{% url 'table' %}"><p>Output</p></a>#}
    <!--<label for="comment">Comment:</label>-->
    <!--<textarea class="form-control" rows="5" id="comment"></textarea>-->
</div>
</body>
</html>
